---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a Ph.D student in Cosmology",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<img src="/photo.jpg" class="squared-full h-auto w-32 shadow-lg" />

		<p>
			Hi, I'm Xinpeng Wang (王 欣芃 ワン　シンペン)! I was born in Hefei and raised in Shanghai. I
			did my undergraduate studies in Tongji University.
		</p>
		<p>
			I'm now a D1 student in <a
				class="cactus-link inline-block"
				href="https://www.ipmu.jp/"
				rel="noreferrer"
				target="_blank">Kavli IPMU</a
			>, working under the guidance of Profs. <a
				class="cactus-link inline-block"
				href="https://inspirehep.net/authors/990254?ui-citation-summary=true&ui-exclude-self-citations=true"
				rel="noreferrer"
				target="_blank">Misao Sasaki</a
			> (UTokyo, Kavli IPMU and APCTP), <a
				class="cactus-link inline-block"
				href="https://inspirehep.net/authors/1036738?ui-citation-summary=true&ui-exclude-self-citations=true"
				rel="noreferrer"
				target="_blank">Masahiro Takada</a
			> (UTokyo, Kavli IPMU) and <a
				class="cactus-link inline-block"
				href="https://inspirehep.net/authors/1064761?ui-citation-summary=true&ui-exclude-self-citations=true"
				rel="noreferrer"
				target="_blank">Ying-Li Zhang</a
			>(Tongji U).
			<p>
				During my graduate study, I'm trying to understand the connection between the theory of the
				very early universe and the observation within the reach of humankind. For example, I would
				love to explore the questions like "What is dark matter made up of?", "How much we can tell
				about the inflationary universe by current/upcoming observations?", "What are the sources of
				the gravitational waves?"
			</p>
			<p>Here are my some of my topics of interest:</p>
			<ul class="list-inside list-disc" role="list">
				<li>Inflation and Primordial Cosmological Perturbations</li>
				<li>Gravitational Wave from Primordial Sources</li>
				<li>Black Hole Dark Matter</li>
				<li>Particle Dark Matter</li>
			</ul>
			<p>
				Please find my publications in <a
					class="cactus-link inline-block"
					href="https://inspirehep.net/authors/2157310?ui-citation-summary=true&ui-exclude-self-citations=true"
					rel="noreferrer"
					target="_blank">Inspirehep</a
				> if you are interested in!
			</p>
			I'm hosting an interesting weekly physics salon called "random discussion" with my colleagues.
			You can find some records of the discussion in <a
				class="cactus-link inline-block"
				data-astro-prefetch
				href="/tags/random%20discussion/"
				target="_blank"
			>
				Random Discussion</a
			>.

			<p>
				Meanwhile, I'm a Maximalist. I'm keen on any form of arts (Music, Painting, Photography,
				Calligraphy...). I'm currently studying "ikebana (生花)" under the guidance of Prof. <a
					class="cactus-link inline-block"
					href="https://db.ipmu.jp/member/personal/5393en.html"
					rel="noreferrer"
					target="_blank">Yukari Ito</a
				>.
			</p>
		</p>
	</div>
</PageLayout>
