---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a Ph.D student in Cosmology",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
  <img src="./photo.jpg"  />

		<p>
			Hi, I'm Xinpeng Wang (王 欣芃 ワン　シンペン)! I'm a D1 student in Kavli IPMU, University of Tokyo and Tongji University.
			
		</p>
		<p>Here are my some of my interested topics:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Inflation and Primordial Cosmological Perturbations</li>
			<li>Gravitational Wave from Primordial Sources</li>
			<li>Black Hole Dark Matter</li>
			<li>Particle Dark Matter</li>
		</ul>
		<p>
			Please find my publications in <a
				class="cactus-link inline-block"
				href="https://inspirehep.net/authors/2157310?ui-citation-summary=true&ui-exclude-self-citations=true"
				rel="noreferrer"
				target="_blank">Inspirehep</a
			> if you are interested in!
		</p>
	</div>
</PageLayout>
